.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbarcss {
  height: 20vh;
  background-color: white;
}

.navbarcss:active {
  color: rgb(108, 42, 139);
}

.brand {
  padding-right: 30%;
  font-family: "Pacifico", cursive;
  color: rgb(108, 42, 139);
  font-size: 2rem;
}

.brand a {
  text-decoration: none;
  color: inherit;
}

.brand a:hover {
  text-decoration: none;
  color: inherit;
}

.btnlogin {
  border-radius: 5px;
  border-style: none;
  width: 30%;
  height: 30%;
  color: white;
  background-color: rgb(108, 42, 139);
  margin-left: 40%;
  padding-left: 3%;
  padding-right: 3%;
}

.btnlogin a {
  text-decoration: none;
  color: inherit;
}

.btnlogin a:hover {
  text-decoration: none;
  color: inherit;
}

.btngetstarted {
  border-radius: 5px;
  border-style: none;
  width: 23.5rem;
  height: 3rem;
  color: white;
  background-color: rgb(108, 42, 139);
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 20%;
}

.btngetstarted a {
  padding: 10%;
  text-decoration: none;
  color: inherit;
}

.btngetstarted a:hover {
  text-decoration: none;
  color: inherit;
}

.heading {
  font-family: "Poppins", sans-serif;
  padding-top: 20%;
  padding-bottom: 5%;
  font-weight: bold;
}

p {
  padding-bottom: 10%;
}

.uni {
  padding: 0px;
}

.btnsubmit {
  border-radius: 5px;
  border-style: none;
  width: 23.5rem;
  height: 3rem;
  color: white;
  background-color: rgb(108, 42, 139);
  padding-left: 3%;
  padding-right: 3%;
}

.btnsubmit2 {
  border-radius: 5px;
  border-style: none;
  width: 12rem;
  height: 2.3rem;
  margin-right: 2%;
  margin-left: 35%;
  color: white;
  background-color: rgb(108, 42, 139);
  padding-left: 3%;
  padding-right: 3%;
}

.btnsubmit a {
  padding: 10%;
  text-decoration: none;
  color: inherit;
}

.btnsubmit a:hover {
  text-decoration: none;
  color: inherit;
}

.btnsubmit2 a {
  padding: 10%;
  text-decoration: none;
  color: inherit;
}

.btnsubmit2 a:hover {
  text-decoration: none;
  color: inherit;
}

.flexbox {
  display: flex;
}

img {
  padding-left: 20%;
  height: 70%;
}

.imgcolumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textcolumn {
  flex-grow: 2;
}

.imgclock {
  padding-top: 20%;
  padding-left: 70%;
}

.card-img {
  padding-left: 0%;
}

.card {
  margin: 2%;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  height: 90%;
}

.card:hover {
  text-decoration: none;
  background-color: #f5f5f5;
  transition: 1s;
}

.card-text-2 {
  margin-right: 50%;
}

.card-text-3 {
  margin-right: 10%;
  padding: 0px;
}

.btnsearch {
  border-radius: 5px;
  border-style: none;
  border-color: rgb(108, 42, 139);
  width: 9rem;
  border-style: solid;
  height: 2.3rem;
  color: rgb(108, 42, 139);
  background-color: white;
  padding-left: 3%;
  padding-right: 3%;
}

@media screen and (max-width: 800px) {
  .flexbox {
    display: block;
  }
  .img {
    padding-left: 18%;
    height: 29%;
    width: 128%;
  }
}
